# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Env / secrets
.env

# Test artifacts
.pytest_cache/
test-results/
playwright-report/
trace/
artifacts/
*.zip

# Docker volumes
influxdb-data/
grafana-data/
